.button {
  border-radius: 3%;
  background-color: rgb(64, 215, 215);
  color: white;
  width: 200px;
  height: 50px;
  font-size: medium;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}
